@media screen and (max-width: 1180px) {
    .common-info {
        grid-template-columns: 1fr;
    }

    .common-info-asside {
        flex-direction: row;
        align-items: stretch;
    }
}

@media screen and (max-width: 950px) {
    .common-info-asside {
        flex-direction: column;
        align-items: center;
        
    }

    .common-info p {
        max-width: 700px;
    }

}


@media screen and (max-width: 768px) {

    .common-info h1 {
        font-size: 2.5rem;
        padding: 25px;
    }
    
    

    .slider {
        overflow: hidden;
        width: 100%;
        /* transform: scale(0.95); */
        
    }

    .common-info p {
        
        max-width: 100%;
        font-size: 1.3rem;
        line-height: 2rem;

    }

    .accordion-btn {
 
        padding: 10px;
        font-size: 1.5rem;

    }

    .entertaiment-item p {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .entertainment-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 0;
        grid-gap: 1px;
    }

    .entertaiment-item img {
        padding-top: 0px;
    }

    .accordion-btn:hover {
        letter-spacing: 0.15rem;
    }
    

}   

@media screen and (max-width: 425px) {
    
    .common-info p,
    .entertaiment-item p {
        font-size: 1.3rem;
        line-height: 1.8rem;
        margin-left: 0;
        margin-right: 0;
        text-align: justify;
    }

    .common-info p {
        flex-direction: column;
    }

    p img {
        padding: 10px;
    }

    .slider {
        overflow-x: scroll;
    }

}