/* .entertainment-nav {
    display: flex;
}

.entertainment-header {
    flex-grow: 1;
} */

.common-info {
    display: grid;
    grid-template-columns: minmax(auto, 1000px) minmax(400px, 1fr);
    border-bottom: 10px solid #444;
}

.slider {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.common-info-asside {
    display: flex;
    flex-direction: column;
    background-color:  rgb(238, 238, 238);
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 10px  gray inset; 

}

.common-info h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    padding: 15px;
    margin: 0;
    background-color: rgb(185, 134, 57) ;
    letter-spacing: 0.1rem;
    color: whitesmoke;
    grid-column: 1/-1;

}

.common-info p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    max-width: 500px;
    border-radius: 2px;
    font-size: 1rem;
    /* text-align: justify; */
    text-indent: 2rem;
    line-height: 1.1rem;
    background-color: rgb(219, 219, 219);
    color: rgb(48, 48, 48);
    box-shadow:2px 2px 10px  rgba(128, 128, 128, 0.7); 
    border: 1px solid  rgba(128, 128, 128, 0.2);
}

p img {
    /* float: left; */
    margin: 0 10px 0 0;
}

.accordion-btn {
  background-color: rgb(185, 134, 57);
  color: whitesmoke;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1.5rem;
  transition: 0.2s;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(50, 52, 59);
  position: relative;
}



.accordion-btn::after {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0 7px;
    border-color: rgb(50, 52, 59) transparent transparent transparent;

    position: absolute;
    right: 7px;
    top: 50%;
    transform: translate(0, -50%);
}

.accordion-btn::before {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0 7px;
    border-color:  rgb(185, 134, 57) transparent transparent transparent;
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translate(-100%, -50%) rotate(180deg);
}

 /* .up-btn {
    display: none;
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0 7px;
    border-color:  rgb(219, 219, 219) transparent transparent transparent;
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translate(-100%, -50%) rotate(180deg);
} */

.active, .accordion-btn:hover {
  background-color: rgb(50, 52, 59);
  color:  rgb(185, 134, 57);
    letter-spacing: 0.3rem;
}

.entertainment-content {
    display: grid;
    margin: 0 auto;
    /* max-width: 1200px; */


    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: rgb(219, 219, 219);
    color: black;
    line-height: 1.5rem;
}

.entertainment-content h1 {
    font-family: "oswald";
    letter-spacing: 0.2rem;
}



.entertainment-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    box-sizing: border-box;

    border-left: 10px solid rgb(81, 147, 221);
    padding: 0 20px;
    margin: 0;
    background-color: rgb(219, 219, 219);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.entertaiment-item {
    box-sizing: border-box;
    overflow: hidden;
    /* position: relative; */
}

.entertaiment-item img {
    display: block;
    /* position: relative; */
    padding-top: 10px;
    max-width: 100%;
    width: 100%;
}

.to-see-btn,
.to-eat-btn {
    padding: 10px 0 10px 10px;
    font-size: 1rem;
    border: none;
    position: relative;
    border-bottom: 1px solid gray;
    /* width: 100%; */
}

.entertaiment-item p {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    position: sticky;
    border-radius: 0 0 10px 10px;
    background-color: whitesmoke;
    text-align: justify;
    padding: 0 10px;
    text-indent: 20px;
    margin: 0;
}

.price {
    position: relative;
    transform: translateY(-120%); 
    /* text-align: right; */
    font-size: 2rem;
    font-weight: bold;
    color: rgb(185, 134, 57);
    text-shadow: 1px 1px 2px black;
}

.map {
    grid-column: 1/-1;
}


@media screen and (max-width: 768px) {

    .common-info h1 {
        font-size: 2.5rem;
        padding: 25px;
    }
    
    .common-info {
        grid-template-columns: 1fr;
    }

    .slider {
        overflow: hidden;
        width: 100%;
        transform: scale(0.95);
        
    }

    .common-info p {
        
        max-width: 100%;
        font-size: 1.3rem;
        line-height: 2rem;

    }

    .accordion-btn {
 
        padding: 25px;
        font-size: 1.7rem;

    }

    .entertaiment-item p {
        font-size: 1.3rem;
        line-height: 2rem;
    }
    

}   

@media screen and (max-width: 425px) {
    
    
    .common-info p,
    .entertaiment-item p {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
}