.container-wrapper {
    margin-top: 60px;
}

.common-info {
    display: grid;
    grid-template-columns: minmax(auto, 1000px) minmax(400px, 1fr);
    border-bottom: 10px solid #444;
}

.slider {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.common-info-asside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color:  rgb(238, 238, 238);
    box-shadow: 0px 0px 10px  gray inset; 
}

.common-info h1 {
    grid-column: 1/-1;
    padding: 15px;
    margin: 0;

    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    background-color: rgb(185, 134, 57) ;
    letter-spacing: 0.1rem;
    color: whitesmoke;
}

.common-info p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    max-width: 500px;
    border-radius: 2px;

    font-size: 1rem;
    text-indent: 2rem;
    line-height: 1.1rem;
    background-color: rgb(219, 219, 219);
    color: rgb(48, 48, 48);
    box-shadow:2px 2px 10px  rgba(128, 128, 128, 0.7); 
    border: 1px solid  rgba(128, 128, 128, 0.2);
}

p img {
    margin: 0 10px 0 0;
}

.accordion-btn {
    position: relative;
    padding: 18px;
    width: 100%;
    border: none;

    background-color: rgb(185, 134, 57);
    color: whitesmoke;
    cursor: pointer;
    text-align: left;
    outline: none;
    font-size: 1.5rem;
    transition: 0.2s;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(50, 52, 59);
}

.accordion-btn::after,
.accordion-btn::before {
    position: absolute;
    right: 7px;
    top: 50%;

    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0 7px;
}

.accordion-btn::after {
    transform: translate(0, -50%);
    border-color: rgb(50, 52, 59) transparent transparent transparent;
}

.accordion-btn::before {
    transform: translate(-100%, -50%) rotate(180deg);
    border-color:  rgb(185, 134, 57) transparent transparent transparent;
}

.active, .accordion-btn:hover {
    background-color: rgb(50, 52, 59);
    color:  rgb(185, 134, 57);
    letter-spacing: 0.3rem;
}

.entertainment-content {
    display: grid;
    margin: 0 auto;

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: rgb(219, 219, 219);
    color: black;
    line-height: 1.5rem;
}

.entertainment-content h1 {
    font-family: "oswald";
    letter-spacing: 0.2rem;
}

.entertainment-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
    justify-content: center;
    grid-column-gap: 10px;
    box-sizing: border-box;

    border-left: 10px solid rgb(81, 147, 221);
    padding: 0 10px;
    
    margin: 0;
    background-color: rgb(219, 219, 219);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.entertaiment-item {
    box-sizing: border-box;
    overflow: hidden;
}

.entertaiment-item img {
    display: block;
    padding-top: 10px;
    max-width: 100%;
    width: 100%;
}

.to-see-btn,
.to-eat-btn {
    padding: 10px 0 10px 10px;
    font-size: 1rem;
    border: none;
    position: relative;
    border-bottom: 1px solid gray;
}

.entertaiment-item p {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    position: sticky;
    border-radius: 0 0 10px 10px;
    background-color: whitesmoke;
    text-align: justify;
    padding: 0 10px;
    text-indent: 20px;
    margin: 0;
}

.price {
    position: relative;
    height: 0;
    transform: translateY(-30px); 
    font-size: 2rem;
    font-weight: bold;
    color: rgb(185, 134, 57);
    text-shadow: 1px 1px 2px black;
}

.map {
    grid-column: 1/-1;
}
    