.wrapper {
    margin-left: 139px;
    display: grid;
    grid-template-columns: 1fr 20%;
    transition: 0.2s ease;
    margin-top: 60px;
}



.transport__nav {
    width: 139px;
    background-color: rgb(185, 134, 57);
    min-height: 100vh;
    transition: 0.2s ease;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 60px;
}

.transport__nav:hover{
    width: 239px;
}




.nav__sidebar {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.nav__item {
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 45px;
    width: 100%;
    align-items: center;
}

.nav__item:hover {
    background-color: rgb(219, 219, 219);
    
}

.nav__item a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav__item span {
    display: none;
    color: black;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    transition:  0.2s;
    
}

.nav__item:hover span {
    display: block;
}

nav img {
    height: 50px;
}


.nav__item:hover img{
    animation-name: imgRotate;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
    
}

@keyframes imgRotate {
    0% {
        transform: rotate(0); 
    }
    33% {
        transform: rotate(10deg); 
    }
    
    66% {
        transform: rotate(-10deg); 
    }
    100% {
        transform: rotate(0); 
    }
   
}

/* ______________main content____________ */

main {
    display: flex;
    flex-direction: column;
}

section {
    border-bottom: 1px solid rgb(185, 134, 57);
}


nav:hover+.wrapper{
    /* margin-left: 250px; */
    transform: translate(100px);
}



.transport-item {
    display: flex;
    align-items: flex-start;
}

.transport-item .tittle {
    font-size: 1.5rem;
    
    /* flex-basis: 40%; */
    display: flex;
    justify-content: flex-end;

    position: sticky;
    top: 60px;
}

.tittle h2 {
    width: 180px;
    margin-top: 30px;
    text-align: center;
    padding: 0px 15px;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: whitesmoke;
    border-top: 5px solid whitesmoke;
    background-color: rgb(50, 52, 59);
    white-space: nowrap;
    font-weight: normal;
}



.info {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border-left: 10px solid  rgb(185, 134, 57);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    background-color: rgb(225 226 228);

}

.info h3 {
    margin-top: 0;
}


.info .info-text {
    text-indent: 20px;
    padding-bottom: 20px;
    /* max-width: 600px; */
    /* margin: 0 auto; */
    text-align: justify;
    
}

.info ul {
    list-style: square;
}


.info ul li {
    padding-bottom: 10px;
}

.info figcaption {
    font-size: 1rem;
    color: gray;
    text-align: center;
}

.green {
    padding: 0 5px;
    background-color: rgb(91, 187, 91);
}

.red {
    padding: 0 5px;
    background-color: rgb(187, 91, 91);
}

.blue {
    padding: 0 5px;
    background-color: rgb(86, 145, 194);
}

figure {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0px;
}

.info img {
    width: 100%;
    height: auto;
}

.tram  .info{
    background-color:rgb(240, 238, 232);
}

.info-text img {
    width: 100px;
    float: left;
    margin: 20px;
    
}

.pendeltag figure img {
    border-radius: 5px;
}

.iframe-wrapper {
   position: relative;
   width: 90%;
   margin: 30px auto;
   height: 0;
   padding-bottom: 50%;
} 
iframe {
   position:absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
}


/* _______________grid gallery_____________ */

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid-template-columns: repeat(4, 1fr); */
    grid-auto-flow: dense;
    grid-gap: 5px;
}

.grid-gallery-item {
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}


.grid-gallery-item img {
    display: block;
    /* height: auto; */
}



.gallery-item-tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: whitesmoke;
    border-top: 2px solid rgb(185, 134, 57);
    background-color: rgb(50, 52, 59);
    white-space: nowrap;

}

.gallery-item-tittle h4 {
    margin: 5px;
    font-weight: normal;
}

.external-link {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    /* opacity: 0; */
    transition: 0.2s;
    width: 20px;
    height: 20px;
    background-color:  rgba(245, 245, 245, 0.507);
    margin: 5px;
    padding: 5px;
}

.grid-gallery-item:hover .external-link {
    display: block;
    /* opacity: 1; */
}

.info-fact {
    border-left: 10px solid rgb(81, 147, 221);
    padding: 10px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    text-align: justify;
}



.instruction {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 50px;
    justify-content: center;
}

.instruction-item {
    /* height: 350px; */
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
}

.instruction-item h4 {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    background-color: rgb(185, 134, 57);
}

.instruction-item img {
    
    position: absolute;
    top: 0;
}

.instruction:hover .instruction-item img{
    animation-name: scrollScreen;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

.instruction-item:nth-of-type(1) img {
    animation-delay: 0s;
}

.instruction-item:nth-of-type(2) img {
    animation-delay: 2s;
}

.instruction-item:nth-of-type(3) img {
    animation-delay: 4s;
}

.instruction-item:nth-of-type(4) img {
    animation-delay: 6s;
}

.instruction-item:nth-of-type(5) img {
    animation-delay: 8s;
}


@keyframes scrollScreen {
    0% {
        top: 0;
    }

    50% {
        top: -100px
    }

    100% {
        top: 0;
    }
}


.table {
    display: grid;
    grid-template-columns: repeat(5, auto);
    background-color: white;

    border-radius:  0 0 3px 3px;
    overflow: hidden;
}

.table-item {
    padding: 10px;
}

.rating {
    text-align: center;
    color:  rgb(185, 134, 57);
}



.head {
    grid-row: 1/2;
    text-align: center;
    background-color:  rgb(50, 52, 59);
    border-top: 5px solid white;
    color: whitesmoke;
    text-transform: uppercase;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    grid-column: 1/2;
    font-weight: bold;
}

.name,
.price,
.booking,
.rating {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    text-align: justify;
}

.price {
    font-weight: bold;
}

.name:nth-of-type(even),
.about:nth-of-type(odd),
.price:nth-of-type(even),
.booking:nth-of-type(odd),
.rating:nth-of-type(even) {
    background-color: rgb(219, 219, 219);
}


.sea {
    width: 90%;
    height: 0;
    padding-bottom: 40%;
    margin: 20px auto;
    /* border: 1px solid saddlebrown; */
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.sea img:nth-of-type(1) {
    width: 120%;
    display: block;
    position: absolute;
    bottom: -30px;
    left: 0;
    opacity: 0.4;
    animation-name: seaMoving;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    z-index: 1;
}

.sea img:nth-of-type(2) {
    width: 30%;
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: boatMoving;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes seaMoving {
    0% { bottom: -30px; left: 0; }
    50% { bottom: -20px; left: -10px; }
    100% { bottom: -30px; left: 0; }
}

@keyframes boatMoving {
    0% { top: 40%; left: 50%; }
    50% { top: 43%; left: 50%;  }
    100% { top: 40%; left: 50%;  }
}

/* ______________________________asside____________________________ */


.asside-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 60px;
}

.asside-item {
    width: 90%;
    margin-bottom: 15px;
    
}

.asside-item h2 {
    font-size: 1rem;
    margin: 10px 0;
    text-align: center;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.asside-item img {
    display: block;
    margin: 0 auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px  rgba(0, 253, 219, 0.459);
    animation-name: cardShadow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.app:hover img {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}

.asside-item:nth-of-type(2) img {
    width: 50%;
    min-width: 50px;
}

@keyframes cardShadow {
    0%  { box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.1);}
    50% { box-shadow: 0px 0px 20px  rgba(0, 0, 0, 0.5);}
    100%  { box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.1);}
}

@media screen and (max-width: 1024px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .asside-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .table-item.head:nth-of-type(2) {
        display: none;
    }

    .about {
        display: none;
    }

    .grid-gallery {
    
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}
    

    
}

@media screen and (max-width: 768px) {

    h3 {
        font-size: 1.6rem;
        line-height: 1.9rem;
    }

    li,
    .info-text,
    .info-fact {
        font-size: 1.4rem;
        line-height: 1.9rem;
    }

    .wrapper {
        margin-top: 130px;
        margin-left: 0;
        display: grid;
        grid-template-columns: 1fr;
        transition: 0.2s ease;
    }

    .asside-wrapper {
        flex-direction: row;
    }

    .info {
        padding: 15px 10px;
    }

    .transport__nav:hover{
        width: 100%;
    }

    .transport__nav {
        width: 100%;
        background-color: rgb(185, 134, 57);
        min-height: auto;
        transition: 0.2s ease;
        padding: 0;
        margin: 0;
        position: fixed;
        /* top: 60px; */
        z-index: 3;
    }

    .nav__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding: 10px;
    }

    nav:hover{
        width: 100%;
    }

    
    .nav__sidebar {
        flex-direction: row;
    }

    .nav_item span {
        display: none;
    }

    .nav__item:hover {
        background-color: rgb(185, 134, 57);
        
    }

    .nav__item:hover span {
        display: none;
    }
    
    nav:hover+.wrapper{
        transform: translate(0);
    }

    .grid-gallery {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .external-link {
        display: block;
    }

    .table-item.head:nth-of-type(2) {
        display: none;
    }

    .about {
        display: none;
    }

    .tittle h2 {
        margin-top: 90px;
    }

    .instruction {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    

}
@media screen and (max-width: 630px) {
    .tittle h2 {
        transform: rotate(180deg);
        width: auto;
        writing-mode: vertical-lr;
        padding: 20px 0;
        margin-left: 0;
        margin-right: 0;
    }
}


@media screen and (max-width: 425px) {

    .wrapper {
        margin-top: 110px;
    }
    
    h3 {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }

    .asside-wrapper {
        flex-direction: column;
    }

    .asside-item {
        width: 50%;
    }


    li,
    .info-text,
    .info-fact,
    .table {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .tittle h2 {
        transform: rotate(180deg);
        width: auto;
        writing-mode: vertical-lr;
        padding: 20px 0;
        margin-left: 0;
        margin-right: 0;
    }

    .transport-item {
        display: flex;
        align-items: flex-start;
    }

    .grid-gallery {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    .name {
        transform: rotate(180deg);
        writing-mode: vertical-lr;
    }

    nav img {
        height: 30px;
    }

    .nav__item {
        padding: 10px 5px;
        width: auto;
    }

    .nav__sidebar {
        justify-content: space-between;
    }

    .tittle h2 {
        margin-top: 61px;
        font-size: 1.3rem;
    }

    .instruction {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 400px;
        padding: 15px;
    }

    .iframe-wrapper {
        margin: 20px 0;
        width: 100%;
        padding-bottom: 60%;
    }

    .transport__nav {
        max-width: 100%;
    }

    
}

/* @media screen and (max-width: 376px) {
    .transport-item .tittle {
        display: none;
    }

    .info {
        border: none;
    }

} */

