.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(219, 219, 219);
    margin-top: 60px;
}

.about-header {
    position: sticky;
    position: -webkit-sticky;
    top: 60px;
}

.about-content {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-gap: 1px;

    grid-column: 1/-1;
    width: 90%;
    margin: auto;
    padding-bottom: 30px;

    border-bottom: 2px solid gray;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    background-color: rgb(219, 219, 219);
    color: black;
}

.about-content:last-child {
    border-bottom: none;
}

.about-content-tittle {
    grid-column: 1/-1;
    text-align: center;
}

.about-text {
    grid-column: 2/ span 2;
    text-align: justify;

    text-indent: 20px;
    font-size: 1.2rem;
    line-height: 1.7rem;
}

.wide {
    grid-column: 2/ span 2;
}

.wide img {
    width: 100%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}


/* _____________modal img________________ */
.modal {
  display: none; 
  overflow: auto; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 2000px;
  z-index: 50;

  background-color: rgba(0,0,0,0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 70%;
    max-height: 60vh;
    margin: 0 auto;

    animation-name: animate;
    animation-duration: 0.2s
}


@keyframes animate { /*анимация выдвижения модальной картинки */
  from {top:-100%; opacity:0}
  to {top: 50%; opacity:1}
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -30px;
    right: 0;

    background-color: #fff;
    font-size:  30px;
    cursor: pointer;
    color: rgb(185, 134, 57);
    background-color: rgb(219, 219, 219); 
    transition: 0.2s;
    animation: closeLight infinite 2s;
}

.close:hover {
    font-size:  35px;
    background-color: rgb(201, 102, 102);
    color: black;
    animation: none;
}

@keyframes closeLight { /*анимация мерцания кнопки закрыть*/
    0% {
        color: rgb(185, 134, 57);
    }

    50% {
        color: black;
    }

    100% {
        color: rgb(185, 134, 57);
    }
}

.about-image figcaption {
    color: gray;
    text-align: center;
    font-style: italic;
    margin: 0;
}

.asside-content {
    grid-column: 4/5;
    grid-row: 2/9;
    
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    align-items: center;
}

figure {
    margin: 2rem;
}

.asside-content h3,
.asside-content p {
    text-align: center;
    margin: 0;
    margin-top: 15px;
}

.about-image figure {
    margin: 0;
}

.asside-content img {
    max-width: 100%;
    max-height: 280px;
    border-radius: 50%;
    border: 3px solid  rgb(185, 134, 57);
}

.asside-content figcaption {
    display: block;
    width: 100%;
    padding: 3px;
    text-align: center;
    font-style: italic;
}

.modern-asside {
    grid-column: 1/2;
    grid-row: 2/10;
}

figure {
    margin-left: 20px;
    margin-right: 20px;
}

.modern-asside img {
    max-width: 100%;
    border-radius: 10px;
    border: 3px solid  rgb(185, 134, 57);
}



