.wrapper {
    margin-left: 150px;
    display: grid;
    grid-template-columns: 1fr 20%;
    transition: 0.2s ease;
}



.transport__nav {
    width: 150px;
    background-color: rgb(185, 134, 57);
    min-height: 100vh;
    transition: 0.2s ease;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 60px;
}

nav:hover{
    width: 250px;
}




.nav__sidebar {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.nav__item {
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 45px;
    width: 100%;
    align-items: center;
}

.nav__item:hover {
    background-color: rgb(219, 219, 219);
    
}

.nav__item a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav__item span {
    display: none;
    color: black;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    transition:  0.2s;
    
}

.nav__item:hover span {
    display: block;
}

nav img {
    height: 50px;
}


.nav__item:hover img{
    animation-name: imgRotate;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
    
}

@keyframes imgRotate {
    0% {
        transform: rotate(0); 
    }
    33% {
        transform: rotate(10deg); 
    }
    
    66% {
        transform: rotate(-10deg); 
    }
    100% {
        transform: rotate(0); 
    }
   
}

/* ______________main content____________ */

main {
    display: flex;
    flex-direction: column;
}

section {
    border-bottom: 1px solid rgb(185, 134, 57);
}


nav:hover+.wrapper{
    /* margin-left: 250px; */
    transform: translate(100px);
}



.transport-item {
    display: flex;
    align-items: flex-start;
}

.transport-item .tittle {
    font-size: 1.5rem;
    
    /* flex-basis: 40%; */
    display: flex;
    justify-content: flex-end;

    position: sticky;
    top: 60px;
}

.tittle h2 {
    width: 180px;
    margin-top: 30px;
    text-align: center;
    padding: 0px 15px;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: whitesmoke;
    border-top: 5px solid whitesmoke;
    background-color: rgb(50, 52, 59);
    white-space: nowrap;
    font-weight: normal;
}



.info {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border-left: 10px solid  rgb(185, 134, 57);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    background-color: rgb(225 226 228);

}


.info .info-text {
    text-indent: 20px;
    padding-bottom: 20px;
    /* max-width: 600px; */
    /* margin: 0 auto; */
    text-align: justify;
    
}

.info ul {
    list-style: square;
}


.info ul li {
    padding-bottom: 10px;
}

.info figcaption {
    font-size: 1rem;
    color: gray;
    text-align: center;
}

.green {
    padding: 0 5px;
    background-color: rgb(91, 187, 91);
}

.red {
    padding: 0 5px;
    background-color: rgb(187, 91, 91);
}

.blue {
    padding: 0 5px;
    background-color: rgb(86, 145, 194);
}

figure {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0px;
}

.info img {
    width: 100%;
    height: auto;
}

/* _______________grid gallery_____________ */

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid-template-columns: repeat(4, 1fr); */
    grid-auto-flow: dense;
    grid-gap: 5px;
}

.grid-gallery-item {
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}


.grid-gallery-item img {
    display: block;
    /* height: auto; */
}



.gallery-item-tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: whitesmoke;
    border-top: 2px solid rgb(185, 134, 57);
    background-color: rgb(50, 52, 59);
    white-space: nowrap;

}

.gallery-item-tittle h4 {
    margin: 5px;
    font-weight: normal;
}

.external-link {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    /* opacity: 0; */
    transition: 0.2s;
    width: 20px;
    height: 20px;
    background-color:  rgba(245, 245, 245, 0.507);
    margin: 5px;
    padding: 5px;
}

.grid-gallery-item:hover .external-link {
    display: block;
    /* opacity: 1; */
}

.info-fact {
    border-left: 10px solid rgb(81, 147, 221);
    padding: 10px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    text-align: justify;
}

.instruction {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 50px;
    justify-content: center;
}

.instruction-item {
    /* height: 350px; */
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
}

.instruction-item h4 {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    background-color: rgb(185, 134, 57);
}

.instruction-item img {
    
    position: absolute;
    top: 0;
}

.instruction:hover .instruction-item img{
    animation-name: scrollScreen;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

.instruction-item:nth-of-type(1) img {
    animation-delay: 1s;
}

.instruction-item:nth-of-type(2) img {
    animation-delay: 3s;
}

.instruction-item:nth-of-type(3) img {
    animation-delay: 5s;
}

.instruction-item:nth-of-type(4) img {
    animation-delay: 7s;
}

.instruction-item:nth-of-type(5) img {
    animation-delay: 9s;
}


@keyframes scrollScreen {
    0% {
        top: 0;
    }

    50% {
        top: -100px
    }

    100% {
        top: 0;
    }
}



